/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}


#Navi{
	min-width: 650px;
	width: auto;
	padding: 6px; 
	margin-left: 320px;
	background-color: #0000a0;
	margin-top: 56px;
	height: 36px;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
}

.navi-button {
	background-color: #ffffff;
	color: #000000;
	font-size: 15px;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	width: auto;
	outline-color: #000000;
	margin-left: 15px;
	margin-right: 15px;
	cursor: pointer;
	cursor: hand;
	-webkit-box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	-moz-box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	box-shadow: inset 0px 0px 5px 3px rgba(215,215,215,0.85);
	border: 0px solid #c7c7c7;
	border-radius: 3px;
	-moz-border-radius: 3px;
}